.brand-border {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 6px;
}

.hover-dark {
  font-family: 'Merriweather', serif !important;
}

.hover-dark:hover {
    background-color: lightgrey;
}

.hover-dark:focus {
    background-color: white;
}

.input-field input[type=text] {
  font-family: 'Merriweather', serif !important;
  font-weight: lighter !important;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid black !important;
  box-shadow: 0 1px 0 0 black !important;
}

body {
  font-family: 'Merriweather', serif !important;
}

a {
  text-decoration: none;
  color: black;
}

.news-item {
  padding-bottom: 2%;
}

.toppad {
  padding-top: 5%;
}

#getit {
  width: 10vw;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
